body{
    background-color: #95979F;
    height: 100vh;
}
/* Navbar Colors */
.bg-custom {
  background-color: #30343F
}
.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item:focus .nav-link,
.navbar-light .nav-item:hover .nav-link {
        color: #FAFAFF;
}
.nav-link{
  color: #FAFAFF
}
/*Navbar Icon */
.navbar-brand img {
  height: 40px;
  margin: 0px;
}
/* Container Spacing */
 .container{
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 800px;
    width: 60%;
} 
/* Card Color */
.card{
  background-color: #FAFAFF;
}


/* Styling/responsiveness for portfolio icons */
.portfolio-icon{
  margin-bottom: 10px;
  width: 100%;
  height: auto;
  border-radius: 25px;
  padding: 3%;


}
/* Labels for portfolio icons - NOT IDEAL but they work for now. */
.label {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate( -50%, -50% );
  text-align: center;
  color: #FAFAFF;
  width: 84%;
  font-weight: bold;
  background-color:#30343F;
  max-height: 50px;
}
/* Profile Picture Look */
.profile-picture{
  padding: 15px;
  width: 50%;
  border-radius: 25px;

}
/* Footer orientation and size */
.footer {
    position: fixed;
    background-color: #30343F;
    color: white;
    height: 70px;
    bottom: 0;
    width: 100%;
    }

/* ---Media Queries -- */

/* @media (max-width: 900px) {
  .profile-picture{
    padding: 15px;
    width:100%
  
  }
.label{
  width:80%;
}
} */
@media (max-width: 640px) {
  .container{
    margin-top: 10px;
    width: 100%;
  }

}

